.widget {
    display: flex;
    flex-direction: column;

    .widget-icon {
        svg {
            width: 32px;
            height: 32px;
            stroke-width: 1.6;
            color: var(--body-text-color);
        }
    }
}

/* Tag cloud widget */
.tagCloud {
    .tagCloud-tags {
        display: flex;
        flex-wrap: wrap;
        gap: 10px;

        a {
            background: var(--card-background);
            box-shadow: var(--shadow-l1);
            border-radius: var(--tag-border-radius);
            padding: 8px 20px;
            color: var(--card-text-color-main);
            font-size: 1.4rem;
            transition: box-shadow 0.3s ease;

            &:hover {
                box-shadow: var(--shadow-l2);
            }
        }
    }
}

/* Archives widget */
.widget.archives {
    .widget-archive--list {
        /* 移除边框、阴影和背景色 */
    }

    .archives-year {
        /* 移除底部边框 */
        font-size: 1.6rem;
        padding: 8px 0;
        display: inline-block;
        margin-right: 25px;

        span.year {
            color: var(--card-text-color-main);
            font-weight: bold;
        }

        span.count {
            color: #999;
            font-weight: normal;
        }
    }
}
